<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Upload Result</title>
    <link rel="stylesheet" href="static/css/flex.css" media="(min-width: 1280px)">
    <link rel="stylesheet" href="static/css/flex_mobile.css" media="(min-width: 320px) and (max-width: 767px)">
    <link rel="stylesheet" href="static/css/flex_tablet.css" media="(min-width: 768px) and (max-width: 1279px)">
    <link rel="stylesheet" href="static/css/uploadResult.css" media="(min-width: 1280px)">
    <link rel="stylesheet" href="static/css/uploadResult_mobile.css" media="(min-width: 320px) and (max-width: 767px)">
    <link rel="stylesheet" href="static/css/uploadResult_tablet.css" media="(min-width: 768px) and (max-width: 1279px)">
    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<h1>uploaded to amazon s3.</h1>
<button class="main-button" type="button" onclick="location.href='portal'" >ポータルに戻る</button>
</body>

</html>